[submodule "firmware-syntiant-tinyml"]
	path = firmware-syntiant-tinyml
	url = https://github.com/edgeimpulse/firmware-syntiant-tinyml.git
[submodule "4. Create Custom Neural Network for KWS and SV/processing-blocks"]
	path = 4. Create Custom Neural Network for KWS and SV/processing-blocks
	url = https://github.com/edgeimpulse/processing-blocks
[submodule "4. Create Custom Neural Network for KWS and SV/TinySV"]
	path = 4. Create Custom Neural Network for KWS and SV/TinySV
	url = https://github.com/AI-Tech-Research-Lab/TinySV
