[submodule "firmware-syntiant-tinyml"]
	path = firmware-syntiant-tinyml
	url = https://github.com/edgeimpulse/firmware-syntiant-tinyml.git
[submodule "processing-blocks"]
	path = processing-blocks
	url = https://github.com/edgeimpulse/processing-blocks.git
[submodule "TinySV"]
	path = TinySV
	url = https://github.com/AI-Tech-Research-Lab/TinySV.git
